* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
}

#grid {
  margin-top: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 502px;
}

.cell {
  border: 1px solid white;
  width: 50px;
  height: 50px;
}

.wall-top {
  border-top: 2px solid green;
}
.wall-left {
  border-left: 2px solid green;
}
.wall-right {
  border-right: 2px solid green;
}
.wall-bottom {
  border-bottom: 2px solid green;
}